.square {
  width: 80px;
  height: 80px;
  font-weight: bold;
  font-size: 30px;
  background: lightblue;
  cursor: pointer;
  text-align: center;
  color: red;
}
.colorOs {
  color: blue;
}

.board-row {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  justify-content: center;
}

.status {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.highlight {
  background: rgba(216, 187, 23, 0.87);
}
.game-container {
  display: inline-block;
  /* justify-content: center; */
  width: 30rem;
  border: 1px dashed rgba(141, 62, 62, 0.664);
  padding: 20px auto;
}

.game-container .btn {
  display: flex;
  color: #333;
  background: lightblue;
  margin: 20px auto;
  justify-content: center;
  padding: 10px auto;
  cursor: pointer;
}
.btn:hover {
  background: red;
  color: white;
}
